@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <a href="@Url.Action("Index", "Home")">На главную страницу</a>
    <form asp-action="AdminLogin" method="post">
        <input type="text" id="login" name="login" /><label for="login">Логин</label><br />
        <input type="password" id="password" name="password" /><label for="password">Пароль</label><br />
        <input type="submit" value="войти" />
    </form>
</body>
</html>
