@{
    Layout = @Url.Content("~/Views/Shared/_LoginLayout.cshtml");
}

<title>AdminPanel</title>
<div>
    <form class="col m-2" asp-action="Index" asp-controller="ClothesModels">
        <input type="submit" value="Вещи" class="btn btn-info" />
    </form>
    <form class="col m-2" asp-action="Index" asp-controller="CollectionModels">
        <input type="submit" value="Коллекции" class="btn btn-info" />
    </form>
</div>

