@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <title>Login</title>
</head>
<body>
    <header>
        <h1 class="text-center">Вход</h1>
    </header>
    <div class="container my-5">
        <div class="row">
            <div class="col text-center">
                <a href="@Url.Action("Index", "Home")">На главную страницу</a>
                <form class="w-25 mx-auto" asp-action="AdminLogin" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" id="login" name="login" /><label for="login">Логин</label><br />
                        <input type="password" class="form-control" id="password" name="password" /><label for="password">Пароль</label><br />
                    </div>
                    <input type="submit" value="войти" class="btn btn-outline-info" />
                </form>
            </div>
        </div>
    </div>
</body>
</html>
