<!DOCTYPE html>
<html>
<body>
<div id="reboot">
    <a href="@Url.Action("ClearCart", "Cart")">
        <img class="menu" src="@Url.Content("~/images/icons/reboot.png")" alt="size icon">
    </a>
</div>
</body>
</html>
