@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form asp-action="Login" method="post">
    <input type="text" id="login" name="login"/><label for="login">Логин</label><br/>
    <input type="password" id="password" name="password"/><label for="password">Пароль</label><br/>
    <input type="submit" value="войти"/>
</form>
</body>
</html>
