<!DOCTYPE html>
<html>
<head>
    <script>
        function check() {
            if (!Boolean(@Convert.ToInt32(Context.Session.Keys.Contains("user")))) {
                window.location.replace("@Url.Action("Login", "ClothesModels")");
            }
        }
    </script>
</head>
<body onload="check()">
    <div>
        <form asp-action="Logout">
            <input type="submit" value="Выйти"/>
        </form>
    </div>
    @RenderBody()
</body>
</html>
