<!DOCTYPE html>
<html>
<head>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {

            if (!Boolean(@Convert.ToInt32(Context.Session.Keys.Contains("admin")))) {

                //var form = $('<form action="@Url.Action("AdminLogin", "Login")"></form>');

                //$(document.body).append(form);
                //form.submit();
            }
        });
    </script>
</head>
<body>
    <div class="row p-4 bg-dark">
        <form class="mr-2" asp-action="AdminPanel" asp-controller="Login">
            <input type="submit" value="Панель" class="btn btn-info" />
        </form>
        <form class="ml-2" asp-action="AdminLogout" asp-controller="Login">
            <input type="submit" value="Выйти" class="btn btn-info" />
        </form>
    </div>
    @RenderBody()
</body>
</html>
