@using smartdressroom.Models
@model List<CartItemModel>
@{
    Layout = null;
    //Layout = @Url.Content("~/Views/Shared/_Layout.cshtml");
}

<table class="table">
    @foreach (CartItemModel cm in Model)
    {
        <tr><td>@cm.Item.Brand</td><td>@cm.Item.Size</td><td>@cm.Item.Price</td></tr>
    }
</table>