@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<body>

<h1>
    Корзина
</h1>

<img src="@Url.Content("~/images/icons/krok.png")" alt="krok logo"
     style="position: fixed; bottom: 0px; right: 0px;">

</body>

<head>
    <style>
        body 
        {
            background-color: black;
        }

        h1
        {
            text-align: center;
            color: white;
        }
    </style>
</head>
</html>