@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<body>

<h1>
    Умная примерочная
</h1>

<div>
    <a href="@Url.Action("Cart", "Home")">
        <img src="@Url.Content("~/images/cart.png")" alt="cart icon"
             style="left: 0px">
    </a>
</div>

<div>
    <a onclick="consult()">
        <img src="@Url.Content("~/images/consult.png")" alt="consult icon"
             style="left: 0px">
    </a>
</div>

<img src="@Url.Content("~/images/krok.png")" alt="krok logo"
     style="position: absolute; bottom: 0px; right: 0px;">

<script>
    function consult() {
        alert("Консультант вызван!");
    }
</script>

</body>

<head>
    <style>
        body 
        {
            background-color: black;
        }

        h1 
        {
            color: white;
        }
    </style>
</head>
</html>
