@model smartdressroom.Models.CartModel
<!DOCTYPE html>
<html>
<head>
    <script>
        function summary() {
            document.getElementById("span1").innerHTML = "@Model.TotalItemCount()";
            document.getElementById("span2").innerHTML = "@Model.ComputeTotalValue()";
        }
    </script>
</head>
<body onload="summary()">
</body>
</html>