@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="/node_modules/@@aspnet/signalr/dist/browser/signalr.min.js"></script>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script>
        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/console")
            .configureLogging(signalR.LogLevel.Trace)
            .build();
        connection.start().then(function () {
            console.log("connected");
        });

        connection.on("countEvent", function (count) {
            let p = document.getElementById("count");
            p.innerHTML = count;
            console.log("countEvent has been fired!");
        });

        $(document).ready(function () {

            $('#ajaxbtn').click(function () {

                $.ajax({
                    type: 'GET',
                    url: '/Consultant/Test',
                    success: function (result) {
                        $('#result').html(result);
                    },
                    failure: function () {
                        console.log('failure');
                    }
                });
            });
        });
    </script>
</head>
<body>
    <p id="count">0</p>
    <button id="ajaxbtn">AJAX</button>
    <div id="result"></div>
</body>
</html>
